<!DOCTYPE html>
<html>

<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/scoreController.js"></script>
    <link rel="stylesheet" type="text/css" href="css/app.css">
    <meta charset="UTF-8">
    <title>Scoreboard</title>
</head>

<body ng-app="scorer" ng-controller="scoreController" ng-cloak>
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h1 class="panel-title"> Score Board</h1> </div>
            <table class="table table-bordered">
                <tr class="row">
                    <td>Name</td>
                    <td>Score</td>
                    <td></td>
                </tr>
                <tr class="row" ng-repeat="player in players">
                    <td>{{player.Name}}</td>
                    <td>{{player.Score}}</td>
                    <td>
                        <button class="btn btn-lg btn-success" ng-click="score(player,5)">+5</button>
                    </td>
                    <td>
                        <button class="btn btn-lg btn-success" ng-click="score(player,3)">+3</button>
                    </td>
                    <td>
                        <button class="btn btn-lg btn-success" ng-click="score(player,2)">+2</button>
                    </td>
                    <td>
                        <button class="btn btn-lg btn-warning" ng-click="score(player,-5)">-5</button>
                    </td>
                    <td>
                        <button class="btn btn-lg btn-warning" ng-click="score(player,-3)">-3</button>
                    </td>
                    <td>
                        <button class="btn btn-lg btn-warning" ng-click="score(player,-2)">-2</button>
                    </td>
                </tr>
            </table>
        </div>
        <form>
            <div class="form-group">
                <label class="control-label">Add Name</label>
                <input type="text" class="form-control input-lg" placeholder="Add name" ng-model="newName"> </div>
            <button type="submit" class="btn btn-lg btn-primary" ng-click="addName(newName)">Add</button>
        </form>
    </div>
</body>

</html>